@import url('common.css');

.top{
    overflow: hidden;
    padding: 10px 0px;
    margin: 0 0 30px 0;
	display: flex;
	justify-content: space-between;
}

.logo {
    position: relative;
    width: 90px;
    height: 30px;
    margin-left: 80px;
}

.logo:before{
    content:'';
    position: absolute;
    left: -60px;
    top: -10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.item{
    width: 60%;
	display: flex;
}

.list {
    width: 24%;
    height: 50px;
    margin-left: 1%;
}

.main{
    overflow: hidden;
	display: flex;
	justify-content: space-between;
}

.m-text{
    width: 50%;
    font-size: 20px;
    font-style: italic;
    line-height: 1.5em;
}

.m-text-title{
    font-size: 28px;
}

.m-image{
    width: 40%;
    min-height: 360px;
	align-self: flex-start;
}

.content{
    margin: 40px 0 0;
	display: flex;
}

.c-block, .c-article, .c-comment{
	width: 288px;
}


.b-list{
    min-height: 200px;
    margin: 0 0 30px 0;
}

.c-article{
    font-size: 14px;
    margin: 0 0 0 4%;
}

.a-list{
    margin: 0 0 30px 0;
    line-height: 1.5em;
}

.c-comment{
    font-size: 14px;
    margin: 0 0 0 4%;
}

.c-list{
    overflow: hidden;
    margin: 0 0 30px 0;
    line-height: 1.5em;
	display: flex;
	justify-content: space-between;
}

.ava{
	height: 50px;
	width: 50px;
}

.text{
	width: calc(100% - 70px);
}

@media screen and (min-width: 600px) and (max-width: 800px) {

	.content{
		justify-content: space-between;
		flex-wrap: wrap;
	}

    .c-block{
        width: 100%;
        margin: 0 0 30px 0;
        overflow: hidden;
		display: flex;
    }

    .b-list {
        width: 32%;
        margin: 0 0 0 2%;
    }

    .b-list:first-child{
        margin: 0;
    }

    .c-article{
        width: 48%;
        margin: 0;
    }

    .c-comment {
        width: 48%;
        margin: 0 0 0 4%;
    }
}

@media screen and (max-width: 600px) {
	
	.top, .main, .content{
		flex-wrap: wrap;
	}

    .item{
        width: 100%;
        margin: 30px 0 0;
    }

    .list {
        margin: 0 1% 0 0;
    }

    .m-text{
        width: 100%;
        margin: 0 0 40px 0;
    }

    .m-image {
        width: 80%;
        margin: 0 auto;
    }

    .c-block{
        width: 100%;
        margin: 0;
    }

    .b-list {
        margin: 0 0 30px 0;
    }

    .c-article{
        width: 100%;
        margin: 0;
    }

    .c-comment {
        width: 100%;
        margin: 0;
    }
}