.MessageBox .Message {
	line-height: 1.5em;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px;
	box-sizing: border-box;
	flex: 0 0 30%;
	min-width: 130px;
}

.MessageBox .User{
	flex-direction: column;
	display: flex;
	margin-right: 2%;
	flex: 0 0 13%;
}

.MessageBox .User img{
	align-self: center;
	margin-bottom: 10px;
}

.MessageBox .UserName{
	display: block;
	text-align: center;
}

.MessageBox.right{
	justify-content: flex-end;
}

.MessageBox.right .Message{
	order: 1;
}

.MessageBox.right .User{
	order: 2;
	margin-right: 0px;
	margin-left: 2%;
}